<!-- Este codigo despliega la pagina de principal una vez el usuario haya iniciado
    sesion. la pagina de automatica y control se le asigna la ruta de /profile-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>

        location.href ="http://www.automaticaycontrol.com/";
  
    </script>
</body>
</html>